
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myapp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container" ng-controller="KisiCtrl">
        <div class="row">
            <div class="col">
                <form name="Testform" ng-show="formgoster">
                    <input type="text" placeholder="Adınız" name="adi" ng-model="yeni.adi" required minlength="3" /><br />
                    <label style="color: red;" ng-show="!kisiekle.adi.$valid && kisiekle.adi.$dirty">Lütfen en az 3 karakter giriniz</label><br />
                    <input type="text" placeholder="Soyadınız" name="soyadi" ng-model="yeni.soyadi" required minlength="3" /><br />
                    <label style="color: red;" ng-show="!kisiekle.soyadi.$valid && kisiekle.soyadi.$dirty">Lütfen en az 3 karakter giriniz</label><br />
                    <input type="number" name="yasi" placeholder="Yaşınız" ng-model="yeni.yasi" required min="1" max="999" /><br />
                    <label style="color: red;" ng-show="kisiekle.yas.$invalid && kisiekle.yas.$dirty">Lütfen 0dan büyük 999dan küçük bir sayı giriniz</label><br />
                    <input type="button" value="Kaydet" ng-click="ekle()" />
                </form>
                <br />

                <input type="button" value="Yeni Form Oluştur" ng-click="eklegoster()" ng-show="!formgoster" class="btn btn-danger" />

                <input type="text" class="text" placeholder="Ara..." ng-model="txtara.adi" />

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Adı</th>
                            <th scope="col">Soyadı</th>
                            <th scope="col">Yaş</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,item) in kisiler | filter: txtara track by item.id ">
                            <th scope="row">{{key+1}}</th>
                            <td>{{item.adi}}</td>
                            <td>{{item.soyadi}} </td>
                            <td>{{item.yasi}} </td>
                            <td>
                                <input type="button" value="Sil" ng-click="sil(item.id)" class="btn btn-danger" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div user-card></div>
            </div>

        </div>
    </div>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>
